this.casper = require('./setup')(require('casper'));

mocha.setup({
  ui: 'bdd',
  reporter: '%s',
  timeout: 5000
});

describe('in casperjs', function() {
  before(%s);
  it('the test', %s);
  after(%s);
});

var runner = mocha.run(function() {
  casper.exit(typeof (runner.stats && runner.stats.failures) === 'number' ? runner.stats.failures : -1);
});
